.Search {
  background-color: #002f34 !important;
  border-radius: 0px 4px 4px 0px !important;
} 
#search-text {
  border-radius: 4px 0px 0px 4px !important;
  width: 500px;
}
input {
  border: 2px solid #002f34 !important;
}
input:focus {
  border: 2px solid #002f34 !important;
}
.btn-link {
  color: #002f34 !important;
}
.p-20 {
  padding-left: 10% !important;
  padding-right: 10% !important;
}
.sell {
  border-radius: 20px !important;
  border: 2px solid brown !important;
  background-color: #f8f9fa !important;
  color: black !important;
}
.btn-login {
  margin-left: 25%;
  text-decoration: underline !important;
  color: black !important;
  background-color: #f8f9fa !important;
  border: none !important;

}
.footer {
  background-color: #002f34 !important;
  margin-bottom: 0px !important;
  color: white;
}
.footer-links {
  background-color: #DCDCDC !important;
}
.nav {
  color: #002f34 !important;
}
p {
  font-size: 12px;
  line-height: 18px;
}
h6 {
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #002f34 !important;
}
.m-05 {
  margin: 5px 0.01px 5px 0.01px !important;
}
a {
  color: black !important;
  text-decoration: none !important;
}
.modal-content {
  position: absolute;
}
.nav {
  margin-top: 68px !important;
}
.btn-outline-dark:hover {
  background-color: white !important;
  border: 3px solid black !important;
  color: black !important;
}
.rec.rec-dot {
  background-color: #DCDCDC !important;
  box-shadow: none !important;

}
.rec.rec-dot_active {
  background:rgb(64, 145, 216) !important;
  box-shadow: none !important;

}
.rec.rec-arrow {
  background-color: white;
  color: black !important;
  outline: none !important;
}
.rec.rec-arrow:hover, .rec.rec-arrow:focus {
  background-color: white !important;
  color: black !important;
  outline: none !important;

}
.ml-26 {
  margin-left: 26% !important;
}